footer {
  position: fixed;
  height: 50px;
  width: auto;
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(250, 235, 215, 0.5);
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.dock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#dock-calc {
  cursor: pointer;
}

#dock-calc img:hover {
  height: 50px;
  transform: translateY(-20px);
  transition: all 0.5s;
}

#dock-calc img {
  width: auto;
  height: 30px;
  transition: all 0.5s;
}
