* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Mengatur body dari html dengan menambahkan background. */
body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-image: url("../data/w11-Light.jpg");
  background-position: center;
  background-size: cover;
  transition: all 1s;
}

/* Mengubah background ketika tema diubah ke dark-mode. */
.darkMode {
  background-image: url("../data/w11-Dark.jpg");
  transition: all 1s;
}

/* Menambahkan efek glass pada jendela. */
.win {
  position: absolute;
  top: 50vh;
  left: 50vw;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  background-color: rgba(147, 94, 19, 0);
  border-radius: 5px;
  backdrop-filter: blur(9px); /* Semakin besar px semakin blur. */
  -webkit-backdrop-filter: blur(9px); /* Semakin besar px semakin blur. */
  transform: translate(-110px, -180px);
}

/* Menambahkan shadow ketika pointer berada di jendela. */
.win:hover {
  box-shadow: 0px 0px 10px 5px rgba(26, 1, 185, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Mengubah background ketika dark-mode dinyalakan. */
.win-dark {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Mengatur style kalkulator. */
.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

/* Menghilangkan elemen ketika kelas ini dipanggil */
.minimize {
  display: none;
}

/* Menyesuaikan posisi judul jendela. */
.nav p {
  transform: translate(8px, -2px);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: -5px;
}

/* Mengatur style untuk navigasi button. */
.btn-win {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  border: none;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-top: none;
  font-size: large;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-win:disabled {
  cursor: auto;
}

.min {
  border-radius: 0 0 0 5px;
  border-right: none;
  background-color: rgba(124, 148, 255, 0.5);
}

.min:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.close {
  border-radius: 0 0 5px;
  width: 30px;
  border-left: none;
  background-color: rgba(124, 148, 255, 0.5);
}

.close:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

input:focus {
  outline: none;
}

.display {
  width: 212px;
  height: 50px;
  word-wrap: break-word;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.5);
  transition: all 0.5s;
}

.display:hover {
  background-color: rgb(255, 255, 255, 0.7);
  transition: all 0.5s;
}

.display-dark {
  background-color: rgba(41, 35, 97, 0.8);
  color: aliceblue;
}

.display-dark:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#calc-screen {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  font-size: large;
  text-align: right;
}

#sec-screen {
  display: none;
  position: relative;
  transform: translate(-10px, -22px);
  font-size: medium;
  text-align: right;
  opacity: 0.5;
}

.grid {
  margin: 2px;
}

.btn {
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 15px;
  margin: 2px;
  border-radius: 5px;
  background-color: rgba(177, 255, 243, 0.6);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  transition: all 0.5s;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.btn:active {
  background-color: rgba(94, 79, 203, 1);
  color: aliceblue;
}

.btn-dark {
  background-color: rgba(41, 35, 97, 0.8);
  color: aliceblue;
}

.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-dark:active {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
